src/main/schemas/registry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="urn:ihe:iti:xds-b:2007" 
xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="DocumentRegistryService" targetNamespace="urn:ihe:iti:xds-b:2007">
   <wsp:Policy wsu:Id="XDSRegistry_HTTP_Endpoint_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsaw:UsingAddressing />
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message">
        <xs:element name="RegistryMessageBody">
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="XDSRegistry_RegistryStoredQuery_InputMessage">
      <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="input" element="q1:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_RegistryStoredQuery_OutputMessage">
      <wsdl:part xmlns:q2="http://schemas.microsoft.com/Message" name="RegistryStoredQueryResult" element="q2:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_RegisterDocumentSet_InputMessage">
      <wsdl:part xmlns:q3="http://schemas.microsoft.com/Message" name="input" element="q3:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_RegisterDocumentSet_OutputMessage">
      <wsdl:part xmlns:q4="http://schemas.microsoft.com/Message" name="RegisterDocumentSetResult" element="q4:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_UpdateDocumentSet_InputMessage">
      <wsdl:part xmlns:q5="http://schemas.microsoft.com/Message" name="input" element="q5:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_UpdateDocumentSet_OutputMessage">
      <wsdl:part xmlns:q6="http://schemas.microsoft.com/Message" name="UpdateDocumentSetResult" element="q6:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_DeleteDocumentSet_InputMessage">
      <wsdl:part xmlns:q7="http://schemas.microsoft.com/Message" name="input" element="q7:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_DeleteDocumentSet_OutputMessage">
      <wsdl:part xmlns:q8="http://schemas.microsoft.com/Message" name="DeleteDocumentSetResult" element="q8:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryRecordAdded_InputMessage">
      <wsdl:part xmlns:q9="http://schemas.microsoft.com/Message" name="input" element="q9:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryRecordAdded_OutputMessage">
      <wsdl:part xmlns:q10="http://schemas.microsoft.com/Message" name="PatientRegistryRecordAddedResult" element="q10:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryRecordRevised_InputMessage">
      <wsdl:part xmlns:q11="http://schemas.microsoft.com/Message" name="input" element="q11:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryRecordRevised_OutputMessage">
      <wsdl:part xmlns:q12="http://schemas.microsoft.com/Message" name="PatientRegistryRecordRevisedResult" element="q12:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryDuplicatesResolved_InputMessage">
      <wsdl:part xmlns:q13="http://schemas.microsoft.com/Message" name="input" element="q13:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:message name="XDSRegistry_PatientRegistryDuplicatesResolved_OutputMessage">
      <wsdl:part xmlns:q14="http://schemas.microsoft.com/Message" name="PatientRegistryDuplicatesResolvedResult" element="q14:RegistryMessageBody" />
   </wsdl:message>
   <wsdl:portType name="XDSRegistry">
      <wsdl:operation name="RegistryStoredQuery">
         <wsdl:input wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery" message="tns:XDSRegistry_RegistryStoredQuery_InputMessage" />
         <wsdl:output wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse" message="tns:XDSRegistry_RegistryStoredQuery_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="RegisterDocumentSet">
         <wsdl:input wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-b" message="tns:XDSRegistry_RegisterDocumentSet_InputMessage" />
         <wsdl:output wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse" message="tns:XDSRegistry_RegisterDocumentSet_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="UpdateDocumentSet">
         <wsdl:input wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSet" message="tns:XDSRegistry_UpdateDocumentSet_InputMessage" />
         <wsdl:output wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSetResponse" message="tns:XDSRegistry_UpdateDocumentSet_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="DeleteDocumentSet">
         <wsdl:input wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSet" message="tns:XDSRegistry_DeleteDocumentSet_InputMessage" />
         <wsdl:output wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSetResponse" message="tns:XDSRegistry_DeleteDocumentSet_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryRecordAdded">
         <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV02" message="tns:XDSRegistry_PatientRegistryRecordAdded_InputMessage" />
         <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV" message="tns:XDSRegistry_PatientRegistryRecordAdded_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryRecordRevised">
         <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV02" message="tns:XDSRegistry_PatientRegistryRecordRevised_InputMessage" />
         <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV" message="tns:XDSRegistry_PatientRegistryRecordRevised_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryDuplicatesResolved">
         <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV02" message="tns:XDSRegistry_PatientRegistryDuplicatesResolved_InputMessage" />
         <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV" message="tns:XDSRegistry_PatientRegistryDuplicatesResolved_OutputMessage" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="XDSRegistry_HTTP_Endpoint" type="tns:XDSRegistry">
      <wsp:PolicyReference URI="#XDSRegistry_HTTP_Endpoint_policy" />
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="RegistryStoredQuery">
         <soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RegisterDocumentSet">
         <soap12:operation soapAction="urn:ihe:iti:2007:RegisterDocumentSet-b" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateDocumentSet">
         <soap12:operation soapAction="urn:ihe:iti:2010:UpdateDocumentSet" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteDocumentSet">
         <soap12:operation soapAction="urn:ihe:iti:2010:DeleteDocumentSet" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryRecordAdded">
         <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV02" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryRecordRevised">
         <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV02" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PatientRegistryDuplicatesResolved">
         <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV02" style="document" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DocumentRegistryService">
      <wsdl:port name="XDSRegistry_HTTP_Endpoint" binding="tns:XDSRegistry_HTTP_Endpoint">
         <soap12:address location="http://n4cxds.nfit.au.dk:1025/xdsservice/xdsregistry" />
         <wsa10:EndpointReference>
            <wsa10:Address>http://n4cxds.nfit.au.dk:1025/xdsservice/xdsregistry</wsa10:Address>
         </wsa10:EndpointReference>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>

